Code/
dconf/
discord/
gtk-*
xfce4/
xarchiver/
nitrogen/
pulse/
kitty/kitty.conf.bak
Kvantum/
pamac/
Thunar/
volumeicon/
qt5ct/
mimeapps.list
dwm-6.5/config.h
QtProject.conf
vlc/
ristretto/accels.scm
pavucontrol.ini
slstatus-1.0/config.h
celeste/
google-chrome/
user-dirs*
systemd
obs-studio/
transmission/
qBittorrent/